---
layout: html
---

<script>
    // Preload klout images.
    (function() {
        {% for place in site.data.klout %}
        var {{ place.slug }} = new Image();
        {% if place.img %}
        {{ place.slug }}.src = "{{ site.baseurl }}/assets/img/klout/{{ place.img }}";
        {% else %}
        {{ place.slug }}.src = "{{ site.baseurl }}/assets/img/klout/{{ place.slug }}.png";
        {% endif %}
        {% endfor %}
    })();

    $(function() {
        // Klout peeps.
        $(knuthShuffle([
        {% for place in site.data.klout %}
            [ "{{ place.slug }}", "{{ place.desc }}", "{{ place.url }}" ]{% unless forloop.last %},{% endunless %}
        {% endfor %}
        ])).each(function(i, el) {
            $('#klout ul').append(
                $('<li/>').append(
                    $('<a/>', {
                        'class': el[0],
                        'text':  el[1],
                        'title': el[1],
                        'href':  el[2],
                        'target': '_' + el[0]
                    })
                )
            );
        });
    });
</script>
<div class="row">
    <div class="small-12 columns">
        <nav id="mini" class="right">
            <ul>
                <li><a target="_github" href="https://github.com/intermine/intermine">GitHub</a></li>
                <li><a href="http://intermine.readthedocs.org/en/latest/support/mailing-list/">Mailing list</a></li>
                <li><a class="padlock" href="https://readthedocs.org/projects/intermine/">Login</a></li>
            </ul>
        </nav>
    </div>
</div>

<div id="hero">
    <div class="row">
        <div class="large-5 small-12 columns">
            <a id="logo" href="{{ site.baseurl }}/" title="Home"></a>
        </div>

        <div class="large-7 small-12 columns">
            <nav id="main" class="right">
                <ul>
                    <li><a href="http://intermine.readthedocs.org/en/latest/about/intermine/">Features</a></li>
                    <li><a href="http://intermine.readthedocs.org/en/latest/">Documentation</a></li>
                    <li><a href="http://intermine.readthedocs.org/en/latest/git/">Download</a></li>
                    <li><a href="http://intermine.readthedocs.org/en/latest/about/services/">Services</a></li>
                    <li><a href="http://intermine.readthedocs.org/en/latest/about/contact-us/">Contact</a></li>
                </ul>
            </nav>
        </div>

        <hr />

        <div class="large-5 small-12 columns">
            {% comment %}
            <!--
            <div class="browser">
                <span>flymine.org</span>
                <img src="img/flymine.png" />
            </div>
            -->
            {% endcomment %}

           <object id="scPlayer"  width="600" height="600" type="application/x-shockwave-flash" data="http://content.screencast.com/users/InterMine/folders/InterMine/media/e8e3b7e6-b303-408d-bef3-f2cbb4ba722b/scplayer.swf" >
                <param name="movie" value="http://content.screencast.com/users/InterMine/folders/InterMine/media/e8e3b7e6-b303-408d-bef3-f2cbb4ba722b/scplayer.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#859E02" />
                <param name="flashVars" value="thumb=http://content.screencast.com/users/InterMine/folders/InterMine/media/e8e3b7e6-b303-408d-bef3-f2cbb4ba722b/FirstFrame.jpg&containerwidth=640&containerheight=480&xmp=sc.xmp&content=http://content.screencast.com/users/InterMine/folders/InterMine/media/e8e3b7e6-b303-408d-bef3-f2cbb4ba722b/LighteningOverview3.mp4.mp4&blurover=false" />
                <param name="allowFullScreen" value="true" />
                <param name="scale" value="showall" />
                <param name="allowScriptAccess" value="always" />
                <param name="base" value="http://content.screencast.com/users/InterMine/folders/InterMine/media/e8e3b7e6-b303-408d-bef3-f2cbb4ba722b/" />
                <iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/InterMine/folders/InterMine/media/e8e3b7e6-b303-408d-bef3-f2cbb4ba722b/embed" height="600" width="600" ></iframe>
            </object>
        </div>
        <div class="small-7 columns">
            <h1>Biological data warehouse</h1>

            <p class="important">InterMine is an open source data warehouse built specifically for
                the integration and analysis of complex biological data. Developed by the Micklem
                lab at the University of Cambridge, InterMine enables the creation of biological
                databases accessed by sophisticated web query tools. Parsers are provided for
                integrating data from many common biological data sources and formats, and there is
                a framework for adding your own data. InterMine includes an attractive, user-friendly
                web interface that works 'out of the box' and can be easily customised for your
                specific needs, as well as a powerful, scriptable web-service API to allow
                programmatic access to your data.</p>

            <div class="links">
                <a href="http://intermine.readthedocs.org/en/latest/git/" class="mainbutton mainbutton-rounded mainbutton-medium mainbutton-highlight"><i class="fa fa-github"></i> Git Download</a>
                <a href="http://intermine.readthedocs.org/en/latest/get-started/tutorial/" class="mainbutton mainbutton-rounded mainbutton-medium"><i class="fa fa-arrow-circle-right"></i> Getting Started</a>
                <a href="http://intermine.readthedocs.org/en/latest/about/services/" class="mainbutton mainbutton-rounded mainbutton-medium"><i class="fa fa-users"></i> Consulting</a>
            </div>
        </div>
        
        <hr />

        <div id="klout" class="small-12 columns">
            <ul></ul>
        </div>
    </div>
</div>

<div class="row">
    <article class="white large-6 small-12 columns">
        <h1>Complex data integration</h1>
        <p>InterMine was developed with the complexity of biological data in mind. The data model is
            flexible and extensible, and a range of data parsers is provided to facilitate the data
            loading. A sophisticated identifier resolution system updates all identifiers to the most
            current version using a priority system, and multiple post-processing checks ensure the
            consistency of the data integration.</p>
    </article>

    <article class="white large-6 small-12 columns">
        <h1>Fast and flexible querying</h1>
        <p>Complex queries can be constructed flexibly to mine across the integrated datasets,
            enabling researchers to answer sophisticated biological questions. The query optimisation
            method is constructed around the use of precomputed tables, meaning that the data schema
            does not need to be denormalized to optimise query speed. A user's query workflow can also
            be automated using InterMine web services.</p>
    </article>

    <article class="white small-12 columns mines">
        <h1>Existing mines</h1>
        <p>A number of different data warehouses powered by InterMine already exist. These include:</p>
        <div class="row">
            <div class="large-4 small-12 columns">
                <ul>
                    <li><a target="_flymine" href="http://www.flymine.org">FlyMine</a> - <em>Drosophila</em> genomics</li>
                    <li><a target="modmine" href="http://intermine.modencode.org">modMine</a> - fly and worm modENCODE data</li>
                    <li><a target="_mousemine" href="http://www.mousemine.org">MouseMine</a> - at MGI</li>
                    <li><a target="_ratmine" href="http://ratmine.mcw.edu">RatMine</a> - at RGD</li>
                    <li><a target="_g2cmine" href="http://g2cmine.genes2cognition.org">G2CMine</a> - The Genes to Cognition Programme</li>
                </ul>
            </div>
            <div class="large-4 small-12 columns">
                <ul>
                    <li><a target="_wormmine" href="http://www.wormbase.org/tools/wormmine">WormMine</a> - at WormBase</li>
                    <li><a target="_yeastmine" href="http://yeastmine.yeastgenome.org">YeastMine</a> - at SGD</li>
                    <li><a target="_zfinmine" href="http://zmine.zfin.org/zebrafishmine">ZebrafishMine</a> - at ZFIN</li>
                    <li><a target="_indigomine" href="http://www.cbrc.kaust.edu.sa/indigo">INDIGOmine</a> - microbes</li>
                    <li><a target="_toxomine" href="http://toxomine.org">toxoMine</a> - Toxoplasma gondii</li>
                    <li><a target="_thalemine" href="https://apps.araport.org/thalemine">ThaleMine</a> - Araport Project with data for Arabidopsis thaliana</li>
                </ul>
            </div>
            <div class="large-4 small-12 columns">
                <ul>
                    <li><a target="_targetmine" href="http://targetmine.mizuguchilab.org">TargetMine</a> - drug target discovery</li>
                    <li><a target="_flytf" href="http://www.flytf.org">FlyTF.org</a> - <i>Drosophila</i> transcription factors</li>
                    <li><a target="_mitominer" href="http://mitominer.mrc-mbu.cam.ac.uk">MitoMiner</a> - proteomic data for mitochondria</li>
                    <li><a target="_metabolicmine" href="http://www.metabolicmine.org">metabolicMine</a> - human, mouse and rat</li>
		    <li><a target="_phytomine" href="http://phytozome.jgi.doe.gov/phytomine">PhytoMine</a> - plants</li>
                </ul>
            </div>
        </div>
    </article>

    <article class="white small-12 columns">
        <p>Follow us on the <a target="_blank" href="https://twitter.com/intermineorg/">InterMine twitter feed</a>.</p>
    </article>
</div>

<div id="dirt">
    <div class="row">
        {% for post in site.posts | limit: 3 %}
        <article class="gray large-4 small-12 columns">
            <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <span class="sub"><time datetime="{{ post.date | date_to_xmlschema}}" method="ago"></time> by {{ post.author | default: Radek }}</span>
            {% if post.image %}
            <img src="{{ site.baseurl }}/assets/img/circular/{{ post.image }}" />
            {% endif %}
            {{ post.content }}
        </article>
        {% endfor %}
    </div>
</div>
