@font-face{font-family:'Droid Sans';font-style:normal;font-weight:400;src:local('Droid Sans'),local('DroidSans'),url("http://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff") format('woff')}

body{background:#f0f1f0}
ul{list-style-type:none;margin:0;}
ul li{display:inline-block}
h1{margin:0}
p{font-size:15px}
#content{background:#fff}
nav#mini ul{margin:3px 0;}
nav#mini ul li:not(:last-child){margin-right:12px}
nav#mini ul li a{color:#bbb;font-size:13px;padding:6px;display:block;}
nav#mini ul li a.padlock{background:url("../img/padlock.png") no-repeat 0 7px;padding-left:16px}
#hero{background:#829b02 url("../img/pattern-1.jpg") repeat 0 0;border:1px solid #596a02;border-width:1px 0;margin-bottom:10px;}
#hero:after{content:"";display:block;width:100%;height:10px;background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));background:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05));background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.05))}
#hero #logo{background:url("../img/logo.png") no-repeat 0 0;width:321px;height:42px;margin:40px 0;display:block}
#hero h1{font-family:Calibri,"Droid Sans",sans-serif;text-transform:uppercase;color:#fff;font-weight:400;font-size:34px;line-height:44px;margin:10px 0}
#hero nav#main ul{height:42px;line-height:42px;margin:40px 0;}
#hero nav#main ul li:not(:last-child){margin-right:1px}
#hero nav#main ul li a{color:#fff;text-transform:uppercase;font-size:14.5px;font-weight:800;text-shadow:1px 1px 1px rgba(0,0,0,0.45);padding:6px}
#hero p.important{color:#f2fbc3;font-size:14.5px}
#hero .links{margin:20px 0 30px 0;text-align:center;}
#hero .links:after{content:"";display:block;clear:both}
#hero .links a.git{background:url("../img/download.png") no-repeat 0 0;width:184px;height:68px;display:block;text-indent:-9999px;white-space:nowrap;overflow:hidden}
#hero .links a.started{display:block;text-transform:uppercase;font-weight:800;color:#fff;font-size:17px;background:url("../img/play.png") no-repeat 0 0;padding-left:40px;height:32px;line-height:32px;margin:16px 0 16px 40px}
#hero hr{height:20px;background:url("../img/divider.png") repeat-x 0 0;border:0;margin:15px}
#hero object#scPlayer{margin-top:19px;max-width:100%;height:291px}
#hero .browser{background:url("../img/browser.png") no-repeat 0 0;width:391px;height:272px;position:relative;margin-left:-12px;}
#hero .browser span{position:absolute;top:22px;left:76px;font-size:10px;color:#999}
#hero .browser img{position:absolute;top:43px;left:12px;width:360px;height:208px}
#hero #klout a.more{text-align:center;margin:0 auto;display:block;width:70px;margin-bottom:-10px;padding:6px 2px;background:rgba(255,255,255,0.2);-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;color:#fff;cursor:pointer;}
#hero #klout a.more:hover{background:rgba(255,255,255,0.3);color:#6b8000}
#hero #klout ul{text-align:center;}
#hero #klout ul li{margin:0 10px 12px 10px;}
#hero #klout ul li a{margin:0 auto;display:block;text-indent:-9999px;white-space:nowrap;overflow:hidden;background-repeat:no-repeat;background-position:0 0;height:47px;}
#hero #klout ul li a.intermod{background-image:url("../img/klout/intermod.png");width:156px}
#hero #klout ul li a.cambridge{background-image:url("../img/klout/cambridge.png");width:228px}
#hero #klout ul li a.flymine{background-image:url("../img/klout/flymine.png");width:172px}
#hero #klout ul li a.yeastmine{background-image:url("../img/klout/yeastmine.png");width:248px}
#hero #klout ul li a.ratmine{background-image:url("../img/klout/ratmine.png");width:158px}
#hero #klout ul li a.metabolicmine{background-image:url("../img/klout/metabolicmine.png");width:225px}
#hero #klout ul li a.galaxy{background-image:url("../img/klout/galaxy.png");background-position:0 4px;width:140px}
#hero #klout ul li a.jax{background-image:url("../img/klout/jax.png");width:127px}
#hero #klout ul li a.oicr{background-image:url("../img/klout/oicr.png");width:64px}
#hero #klout ul li a.mrc{background-image:url("../img/klout/mrc.png");width:106px}
#hero #klout ul li a.stanford{background-image:url("../img/klout/stanford.png");width:247px}
#hero #klout ul li a.wisconsin{background-image:url("../img/klout/wisconsin.png");width:59px}
#hero #klout ul li a.nibio{background-image:url("../img/klout/nibio.jpg");width:125px}
#hero #klout ul li a.gmod{background-image:url("../img/klout/gmod.png");width:64px}
#hero #klout ul li a.go{background-image:url("../img/klout/go.png");width:70px}
#hero #klout ul li a.kaust{background-image:url("../img/klout/kaust.png");width:91px}
#hero #klout ul li a.oregon{background-image:url("../img/klout/oregon.png");width:80px}
#hero #klout ul li a.genozymes{background-image:url("../img/klout/genozymes.png");width:308px}
#hero #klout ul li a.ebi{background-image:url("../img/klout/ebi.png");width:152px}
article{margin:30px 0;}
article.mines{margin:0 0 30px 0;}
article.mines ul{margin:0}
article.white h1,article.white h2,article.white h3,article.white h4,article.white h5{font-family:Calibri,"Droid Sans",sans-serif;text-transform:uppercase;color:#827e7f;font-weight:400;margin-bottom:25px}
article.white h1{font-size:21px}
article.white h2{font-size:19px}
article.white h3{font-size:17px}
article.white h4{font-size:15px}
article.white h5{font-size:13px}
article.white p{color:#827e7f}
article.white a{color:#6b7f01;border-bottom:1px solid #6b7f01;}
article.white a.more{background:-webkit-linear-gradient(top, #f9f9f9, #f6f6f6);background:-moz-linear-gradient(top, #f9f9f9, #f6f6f6);background:-o-linear-gradient(top, #f9f9f9, #f6f6f6);background:-ms-linear-gradient(top, #f9f9f9, #f6f6f6);background:linear-gradient(to bottom, #f9f9f9, #f6f6f6);-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px 0,rgba(0,0,0,0.1);box-shadow:0 1px 2px 0,rgba(0,0,0,0.1);border:1px solid #e0dddd;padding:9px 17px;color:#999;font-size:15px;text-shadow:1px 1px 0 #fff}
article.white ul li{color:#827e7f;display:block}
article.white .meta{color:#827e7f;margin-bottom:20px}
article.gray h1{font-family:Calibri,"Droid Sans",sans-serif;text-transform:uppercase;font-weight:400;font-size:21px;text-align:center;margin-bottom:15px;color:#fff;}
article.gray h1 a{display:block;border:0}
article.gray span.sub{display:block;text-align:center;color:#9faba3;margin-bottom:14px}
article.gray img{float:left;margin:0 20px 0 0}
article.gray p{color:#fff;text-align:justify}
article.gray a{color:#fff;border-bottom:1px solid #fff;}
article.gray a.more{background:-webkit-linear-gradient(top, #636c67, #676f6b);background:-moz-linear-gradient(top, #636c67, #676f6b);background:-o-linear-gradient(top, #636c67, #676f6b);background:-ms-linear-gradient(top, #636c67, #676f6b);background:linear-gradient(to bottom, #636c67, #676f6b);-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px 0,rgba(0,0,0,0.15);box-shadow:0 1px 2px 0,rgba(0,0,0,0.15);border:1px solid #747876;padding:9px 17px;color:#fff;font-size:15px;text-shadow:1px 1px 0 rgba(0,0,0,0.3)}
.quote{margin:0 0 30px 0;}
.quote p{color:#827e7f;margin:0 0 0 30px}
.quote blockquote{font-family:Calibri,"Droid Sans",sans-serif;border:0;color:#595455;font-size:20px;font-weight:800;letter-spacing:1px;padding:0 30px;position:relative;display:inline-block;}
.quote blockquote:before,.quote blockquote:after{font-size:40px;position:absolute;top:-12px;font-family:"Times New Roman",serif}
.quote blockquote:before{content:'“';left:0}
.quote blockquote:after{content:'”';right:0}
.quote a{color:#6b7f01;border-bottom:1px solid #6b7f01}
#dirt{background:url("../img/pattern-2.jpg") repeat 0 0;border-bottom:1px solid #353a37}
footer{padding:30px 0;background:#f0f1f0;color:#3a4676;}
footer p{margin:0;font-size:13px;text-align:right}
footer li{font-size:13px}
footer img{margin:0 0 20px 0;display:block}
footer #publications{margin:0;}
footer #publications h1{font-family:Calibri,"Droid Sans",sans-serif;text-transform:uppercase;color:#3a4676;font-weight:400;font-size:21px;margin-bottom:15px}
footer #publications ul li:not(:last-child){margin-bottom:15px}
footer #publications ul li a{color:#5162a6}
footer #publications ul li span{display:block;color:#909dcd;font-size:11px}
